<div class="row-fluid">
<!--  <div class="span3"> -->
    <h3>News</h3>
	<ul class="unstyled">
          {% for post in site.posts limit:2 %}
          <li>
            <h4><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
            <p>{{ post.summary }}</p>
          </li>
          {% endfor %}
    </ul>
    <h3>GitHub Repos</h3>

    <ul>
    <li>CREAM
        <span class="truncated">
        <ul><li><a href="https://github.com/italiangrid/cream-utils">cream-utils</a>
          <li><a href="https://github.com/italiangrid/cemonitor">cemonitor</a>
          <li><a href="https://github.com/italiangrid/info-dynamic-scheduler-pbs">cream-utils</a>
          <li><a href="https://github.com/italiangrid/cream">cream</a>
          <li><a href="https://github.com/italiangrid/yaim-cream-ce">yaim-cream-ce</a>
          <li><a href="https://github.com/italiangrid/cream-cli">cream-cli</a>
          <li><a href="https://github.com/italiangrid/cream-client-api-c">cream-client-api-c</a>
          <li><a href="https://github.com/italiangrid/cream-common">cream-common</a>
          <li><a href="https://github.com/italiangrid/cream-api-java">cream-api-java</a>
          <li><a href="https://github.com/italiangrid/yaim-slurm-client">yaim-slurm-client</a>
          <li><a href="https://github.com/italiangrid/yaim-slurm-utils">yaim-slurm-utils</a>
          <li><a href="https://github.com/italiangrid/yaim-torque-utils">yaim-torque-utils</a>
          <li><a href="https://github.com/italiangrid/yaim-cluster">yaim-cluster</a>
          <li><a href="https://github.com/italiangrid/ce-monitor-api-java">cemonitor-api-java</a>
          <li><a href="https://github.com/italiangrid/jdl-api-cpp">jdl-api-cpp</a>
          <li><a href="https://github.com/italiangrid/cemonitor-cli">cemonitor-cli</a>
          <li><a href="https://github.com/italiangrid/classadd-utils">classadd-utils</a>
          <li><a href="https://github.com/italiangrid/jobman-exception">jobman-exception</a>
          <li><a href="https://github.com/italiangrid/osg-ce-plugin">osg-ce-plugin</a>
          <li><a href="https://github.com/italiangrid/cream-job-plugin">cream-job-plugin</a>
          <li><a href="https://github.com/italiangrid/jdl-api-java">jdl-api-java</a>
          <li><a href="https://github.com/italiangrid/cream-interface">cream-interface</a>
          <li><a href="https://github.com/italiangrid/info-dynamic-scheduler-slurm">info-dynamic-scheduler-slurm</a>
          <li><a href="https://github.com/italiangrid/info-dynamic-scheduler-ge">info-dynamic-scheduler-ge</a>
          <li><a href="https://github.com/italiangrid/cream-nagios">cream-nagios</a>
        </ul>
        </span> 
    </ul>   

    <h3>About IGI Release</h3>
    <ul><li> <a href="https://wiki.italiangrid.it/twiki/bin/view/IGIRelease/"> Wiki Pages</a></ul>
    <a href="https://github.com/italiangrid"><img style="position: absolute; top: 40px; right: 0; border: 0;" src="{{ site.url }}/img/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
<!--   </div> -->
</div>

