<!-- <div class="container"> -->
 <div class="row-fluid">
    <h3>News</h3>
	<ul class="unstyled">
          {% for post in site.posts limit:2 %}
          <li>
            <h4><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
            <p>{{ post.summary }}</p>
          </li>
          {% endfor %}
    </ul>
    <h3>GitHub Repos</h3>

    <ul>
      <li> <a class="btn btn-info btn-small" class="myButton" href="#myCREAM" role="button" data-toggle="modal" style="width: 50px">CREAM</a>
      <li> <a class="btn btn-info btn-small" class="myButton" href="#mySTORM" role="button" data-toggle="modal" style="width: 50px">StoRM</a>
      <li> <a class="btn btn-info btn-small" class="myButton" href="#myVOMS" role="button" data-toggle="modal" style="width: 50px">VOMS</a>
      <li> <a class="btn btn-info btn-small" class="myButton" href="#myWMS" role="button" data-toggle="modal" style="width: 50px">WMS</a>
    </ul>   

    <h3>About IGI Release</h3>
    <ul><li> <a href="https://wiki.italiangrid.it/twiki/bin/view/IGIRelease/"> Wiki Pages</a></ul>
    <a href="https://github.com/italiangrid"><img style="position: absolute; top: 40px; right: 0; border: 0;" src="{{ site.url }}/img/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
  </div>
<!-- </div> -->

    <!-- Button to trigger modal for CREAM -->
<div id="myCREAM" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">CREAM GitHub repos</h3>
    </div>
    <div class="modal-body">
          <ul>
          <li><a href="https://github.com/italiangrid/cream">cream</a>
          <li><a href="https://github.com/italiangrid/cream-common">cream-common</a>
          <li><a href="https://github.com/italiangrid/cream-utils">cream-utils</a>
          <li><a href="https://github.com/italiangrid/jdl-api-cpp">jdl-api-cpp</a>
          <li><a href="https://github.com/italiangrid/cream-job-plugin">cream-job-plugin</a>
          <li><a href="https://github.com/italiangrid/cream-cli">cream-cli</a>
          <li><a href="https://github.com/italiangrid/cream-client-api-c">cream-client-api-c</a>
          <li><a href="https://github.com/italiangrid/cream-api-java">cream-api-java</a>
          <li><a href="https://github.com/italiangrid/yaim-cream-ce">yaim-cream-ce</a>
          <li><a href="https://github.com/italiangrid/yaim-slurm-client">yaim-slurm-client</a>
          <li><a href="https://github.com/italiangrid/yaim-slurm-utils">yaim-slurm-utils</a>
          <li><a href="https://github.com/italiangrid/yaim-torque-utils">yaim-torque-utils</a>
          <li><a href="https://github.com/italiangrid/yaim-cluster">yaim-cluster</a>
          <li><a href="https://github.com/italiangrid/cemonitor">cemonitor</a>
          <li><a href="https://github.com/italiangrid/ce-monitor-api-java">cemonitor-api-java</a>
          <li><a href="https://github.com/italiangrid/cemonitor-cli">cemonitor-cli</a>
          <li><a href="https://github.com/italiangrid/classadd-utils">classadd-utils</a>
          <li><a href="https://github.com/italiangrid/jobman-exception">jobman-exception</a>
          <li><a href="https://github.com/italiangrid/osg-ce-plugin">osg-ce-plugin</a>
          <li><a href="https://github.com/italiangrid/jdl-api-java">jdl-api-java</a>
          <li><a href="https://github.com/italiangrid/cream-interface">cream-interface</a>
          <li><a href="https://github.com/italiangrid/info-dynamic-scheduler-pbs">info-dynamic-scheduler-pbs</a>
          <li><a href="https://github.com/italiangrid/info-dynamic-scheduler-slurm">info-dynamic-scheduler-slurm</a>
          <li><a href="https://github.com/italiangrid/info-dynamic-scheduler-ge">info-dynamic-scheduler-ge</a>
          <li><a href="https://github.com/italiangrid/cream-nagios">cream-nagios</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
 
    <!-- Button to trigger modal for STORM -->
<div id="mySTORM" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">StoRM GitHub repos</h3>
    </div>
    <div class="modal-body">
          <ul>
          <li><a href="https://github.com/italiangrid/storm">storm</a>
          <li><a href="https://github.com/italiangrid/storm-mp">storm-mp</a>
          <li><a href="https://github.com/italiangrid/storm-native-libs">storm-native-libs</a>
          <li><a href="https://github.com/italiangrid/storm-native-libs-rpm">storm-native-libs-rpm</a>
          <li><a href="https://github.com/italiangrid/storm-info-provider">storm-info-provider</a>
          <li><a href="https://github.com/italiangrid/yaim-storm">yaim-storm</a>
          <li><a href="https://github.com/italiangrid/storm-backend-rpm">storm-backend-rpm</a>
          <li><a href="https://github.com/italiangrid/storm-frontend">storm-frontend</a>
          <li><a href="https://github.com/italiangrid/storm-frontend-rpm">storm-frontend-rpm</a>
          <li><a href="https://github.com/italiangrid/storm-gridhttps">storm-gridhttps</a>
          <li><a href="https://github.com/italiangrid/storm-gridhttps-server">storm-gridhttps-server</a>
          <li><a href="https://github.com/italiangrid/storm-gridhttps-server-rpm">storm-gridhttps-server-rpm</a>
          <li><a href="https://github.com/italiangrid/storm-gridhttps-plugin">storm-gridhttps-plugin</a>
          <li><a href="https://github.com/italiangrid/storm-client-rpm">storm-client-rpm</a>
          <li><a href="https://github.com/italiangrid/storm-xmlrpc-api">storm-xmlrpc-api</a>
          <li><a href="https://github.com/italiangrid/storm-gridftp-dsi">storm-gridftp-dsi</a>
          <li><a href="https://github.com/italiangrid/storm-gridftp-dsi-rpm">storm-gridftp-dsi-rpm</a>
          <li><a href="https://github.com/italiangrid/storm-default-config">storm-default-config</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
    <!-- Button to trigger modal for VOMS -->
<div id="myVOMS" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">VOMS GitHub repos</h3>
    </div>
    <div class="modal-body">
          <ul>
          <li><a href="https://github.com/italiangrid/voms">voms</a>
          <li><a href="https://github.com/italiangrid/voms-mp">voms-mp</a>
          <li><a href="https://github.com/italiangrid/voms-clients">voms-clients</a>
          <li><a href="https://github.com/italiangrid/voms-clients-rpm">voms-clients-rpm</a>
          <li><a href="https://github.com/italiangrid/voms-admin-parent">voms-admin-parent</a>
          <li><a href="https://github.com/italiangrid/voms-admin-server">voms-admin-server</a>
          <li><a href="https://github.com/italiangrid/voms-container">voms-container</a>
          <li><a href="https://github.com/italiangrid/voms-api-java">voms-api-java</a>
          <li><a href="https://github.com/italiangrid/voms-api-java-rpm">voms-api-java-rpms</a>
          <li><a href="https://github.com/italiangrid/voms-api-java-deb">voms-api-java-deb</a>
          <li><a href="https://github.com/italiangrid/voms-mysql-plugin">voms-mysql-plugin</a>
          <li><a href="https://github.com/italiangrid/voms-oracle-plugin">voms-oracle-plugin</a>
          <li><a href="https://github.com/italiangrid/voms-admin-client">voms-admin-client</a>
          <li><a href="https://github.com/italiangrid/yaim-voms">yaim-voms</a>
          <li><a href="https://github.com/italiangrid/voms-nagios">voms-nagios</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
    <!-- Button to trigger modal for WMS -->
<div id="myWMS" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">WMS GitHub repos</h3>
    </div>
    <div class="modal-body">
          <ul>
          <li><a href="https://github.com/italiangrid/org.glite.wms">org.glite.wms</a>
          <li><a href="https://github.com/italiangrid/wms-ui">wms-ui</a>
          <li><a href="https://github.com/italiangrid/wms">wms</a>
          <li><a href="https://github.com/italiangrid/wms-api">wms-api</a
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>